* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d4d4d4;
  font-family: "Open Sans";
}

.wrap {
  width: 1100px;
  max-width: 90%;
  margin: 30px auto;
}

.mensaje {
  margin: 20px;
}

h3 {
  text-align: center;
}

ul.tabs {
  width: 100%;
  background: #829b86;
  list-style: none;
  display: flex;
}

ul.tabs li {
  width: 18%;
}

ul.tabs li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 20px 0px;
}

ul.tabs li a.active,
ul.tabs li a:hover {
  background: #96b7a2;
}

ul.tabs li a .tab-text {
  margin-left: 8px;
}

.secciones {
  width: 100%;
  background: #fff;
}

.secciones article {
  padding: 30px;
}

.secciones article.active {
  display: block;
}

.secciones article {
  display: none;
}

@media screen and (max-width: 700px) {
  ul.tabs li {
    flex-basis: 0;
    flex-grow: 1;
  }
}

@media screen and (max-width: 450px) {
  ul.tabs li a {
    padding: 15px 0px;
  }

  ul.tabs li a .tab-text {
    display: none;
  }

  .secciones article {
    padding: 20px;
  }
}
