* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #d4d4d4;
  font-family: "Open sans";
}

.wrap {
  width: 1200px;
  max-width: 100%;
  margin: 30px auto;
}

ul.tabs {
  width: 100%; /*/alargar a la derecha*/
  background: rgb(0, 100, 0);
  list-style: none;
  display: flex;
}

ul.tabs li {
  width: 18%;
}

ul.tabs li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;

  display: block;
  padding: 20px 0px;
}

.active {
  background: rgb(0, 190, 0);
}

ul.tabs li a .tab-text {
  margin-left: 8px;
}

.secciones {
  width: 100%;
  background: #fff;
}

.secciones article {
  padding: 30px;
}

.secciones article p {
  text-align: justify;
}

@media screen and (max-width: 700px) {
  ul.tabs li {
    width: none;
    flex-basis: 0;
    flex-grow: 1;
  }
}

@media screen and (max-width: 450px) {
  ul.tabs li a {
    padding: 15px 0px;
  }

  ul.tabs li a .tab-text {
    display: none;
  }

  .secciones article {
    padding: 20px;
  }
}
/*busqueda escritura*/
.flexsearch--wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
}

.flexsearch--form {
  overflow: hidden;
  position: relative;
}

.flexsearch--input-wrapper {
  padding: 0 66px 0 0; /* Right padding for submit button width */
  overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 1000px 0 50px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 20px;
  padding: -10 16px 0 17px; /*/largo del buscador
  border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */ /////////////////////
  border-style: solid;
  border-width: 5px;
  margin-top: 12px; /*moficar ubicacion del buscador*/
  color: #333;
  font-family: "Helvetica", sans-serif;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.flexsearch--submit {
  position: absolute;
  right: 10;
  top: 0;
  display: block;
  width: 80px; /*izquiera derecha,flecha*/
  height: 60px;
  padding: 0;
  border: none;
  margin-top: -20px; /* altura de buscador */ ////////////////////////
  margin-right: 5px; /* border-width */
  background: transparent;
  color: #888;
  font-family: "Helvetica", sans-serif;
  font-size: 30px;
  line-height: 30px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
  color: #333;
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder {
  color: #888;
}
